
html {
    color-scheme: light dark;
    background: url("./assets/bg.png");
    background-size: cover;
}
body { margin: 0; padding: 0;
}
body * {
    font-family: "Poppins", sans-serif!important;
}
